node_modules/
.env
.DS_Store
__pycache__/
*.pyc

*.png
*.traineddata

avito.db
furniture.db
db/*.db

avito-parser/node_modules/
avito-parser/chat_messages.png
avito-parser/chats_only.png
avito-parser/message_block_*.png
avito-parser/auth/storageState.json